.custom {
    width: 150px !important;
}

td{
    padding-block: 10px;
    padding-inline: 10px;
}

table{
    margin-top: 5px;
    margin-left: 10px;
}

span{
    margin-left: 10px;
}

hr{
    margin-top: 1px;
}